@import url("https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400..700&family=Lora:ital,wght@0,400..700;1,400..700&family=Playwrite+PE:wght@100..400&display=swap");

@tailwind base;

@layer base {
  body {
    margin: 0;
    padding-top: 90px;
  }

  html {
    font-family: "Lora", sans-serif;
    height: 110%;
  }
}

@tailwind components;
@tailwind utilities;
